<h2>Aktive Studenten</h2>
<table>
    <tr><th style="width:40%">Name</th><th>Email</th><th style="width:25%">Aktionen</th></tr>
    {% for r in rows %}
    <tr>
        <td>{{ r.name }}</td><td>{{ r.email }}</td>
        <td>
          <button class="btn" hx-get="/tab/studenten?edit={{ r.id }}" hx-target="#content">Bearbeiten</button>
	  <button class="btn btn-sec" hx-post="/api/archive/studenten/{{ r.id }}"  hx-confirm="Student/in wirklich archivieren?" hx-target="#content">Archivieren</button>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<div class="form-panel">
    <h3>{% if edit_item %}Bearbeiten{% else %}Neu anlegen{% endif %}</h3>
    <form hx-post="/api/studenten" hx-target="#content">
        <input type="hidden" name="id" value="{{ edit_item.id if edit_item else '' }}">
        <label>Name</label>
        <input type="text" name="name" value="{{ edit_item.name if edit_item else '' }}" required>
        <label>Email</label>
        <input type="email" name="email" value="{{ edit_item.email if edit_item else '' }}" required>
        <button type="submit" class="btn">Speichern</button>
        {% if edit_item %}<button type="button" class="btn btn-sec" hx-get="/tab/studenten" hx-target="#content">Abbrechen</button>{% endif %}
    </form>
</div>
